@model ECommerce2.Models.ViewModels.ProductCardVM

<div class="card product-card border-0 bg-transparent" data-product-id="@Model.ProductId">
    <div class="position-relative img--wrapper">
        <img src="@Model.FeaturedImage.FilePath" class="card-img-top rounded-0">
        <a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Slug" class="stretched-link"></a>
        @if (Model.SalePrice != null)
        {
            <div class="sale-tag position-absolute d-flex justify-content-center align-items-center bg-white shadow">
                <span>Sale!</span>
            </div>
        }

        <div class="add-to-cart position-absolute">
            @if (Model.VariantTermsGrouped.Any())
            {
                <a asp-area="Customer" asp-controller="Products" asp-action="Details" asp-route-id="@Model.Slug" class="btn rounded-pill justify-content-center align-items-center  shadow" data-bs-toggle="tooltip" data-bs-placement="left"
                        data-bs-custom-class="add-to-cart-tooltip"
                        data-bs-title="Select Options">
                    <i class="bi bi-handbag-fill text-muted"></i>
                </a>
            } else
            {
                <form asp-area="Customer" asp-controller="Cart" asp-action="Add" asp-route-returnUrl="@Context.Request.Path@Context.Request.QueryString">
                    <input type="hidden" name="ProductId" value="@Model.ProductId" required />
                    <input type="hidden" name="Quantity" value="1" required />
                    <button type="submit" class="btn rounded-pill justify-content-center align-items-center shadow" data-bs-toggle="tooltip" data-bs-placement="left"
                       data-bs-custom-class="add-to-cart-tooltip"
                       data-bs-title="Add to cart">
                        <i class="bi bi-handbag-fill text-muted"></i>
                    </button>
                </form>
            }

        </div>

    </div>
    <div class="card-body px-0">
        <a href="#" class="card-title text-black text-decoration-none fw-600">@Model.Name</a>
        <div class="product-details mt-1">
            <div class="product-category">
                <span class="text-muted">@Model.Category</span>
            </div>
            <div class="product-pricing mt-1">
                @if (Model.MinPrice != null && Model.MaxPrice != null)
                {
                    <span class="fw-600">$@Model.MinPrice - </span>
                    <span class="fw-600">$@Model.MaxPrice</span>
                } else
                {
                    @if (Model.SalePrice == null)
                    {
                        <span class="listing-price fw-600">$@Model.ListPrice</span>
                    }
                    else
                    {
                        <span class="listing-price text-muted fw-600"><del>$@Model.ListPrice</del></span>
                        <span class="sale-price fw-600">$@Model.SalePrice</span>
                    }
                }
            </div>


            @if (@Model.VariantTermsGrouped.Any())
            {
                @Html.Partial("_VariantRadios", Model.VariantTermsGrouped)
            }


            <div class="star-rating d-flex mt-2">
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
            </div>
        </div>
    </div>
</div>


