@model ECommerce2.Models.ViewModels.CartItemVM

@{
    string? concatenatedTerms = null;
    string imgFilePath;
    decimal? listPrice = null;
    decimal? salePrice = null;
    if (Model.Variant != null)
    {
        concatenatedTerms = " - " + string.Join(" | ", Model.Variant.Terms.Select(t => t.Name));
        imgFilePath = Model.Variant.Image.FilePath;
        listPrice = Model.Variant.ListPrice;
        if (Model.Variant.SalePrice != null)
        {
            salePrice = Model.Variant.SalePrice;
        }
    } else
    {
        imgFilePath = Model.Product.ProductImages.FirstOrDefault().FilePath;
        listPrice = Model.Product.ListPrice;
        if (Model.Product.SalePrice != null)
        {
            salePrice = Model.Product.SalePrice;
        }
    }
}
<li class="cart-item" data-cart-id="@Model.Id">
    <div class="row gx-3">
        <div class="col-auto">
            <div class="img--wrapper position-relative">
                <img src="@imgFilePath" />
                <a asp-area="Customer" asp-controller="Home" asp-action="Store" asp-route-id="@Model.Product.Slug" class="stretched-link"></a>
            </div>
        </div>
        <div class="col d-flex align-items-center">
            <div class="details w-100">
                <div class="d-flex justify-content-between">
                    <a asp-area="Customer" asp-controller="Home" asp-action="Store" asp-route-id="@Model.Product.Slug" class="text-decoration-none text-dark">
                        @Model.Product.Name @concatenatedTerms
                    </a>
                    <button type="button" class="btn p-0 cart-remove-btn" data-cart-id="@Model.Id">
                        <i class="bi bi-x-circle"></i>
                    </button>
                </div>
                <span>
                    @Model.Quantity <i class="bi bi-x"></i>
                    @if (salePrice != null)
                    {
                        <del class="text-muted">$@listPrice</del>
                        @:$@salePrice
                    } else
                    {
                        @:$@listPrice
                    }
                </span>
            </div>
        </div>
    </div>
</li>