@using ECommerce2.Models.ViewModels
@using System.Globalization
@model StoreVM

@{
    int currentPage = 0;
    if (ViewData["CurrentPage"] != null)
    {
        currentPage = (int)ViewData["CurrentPage"];
    }

    int productCount = 0;
    if (ViewData["ProductCount"] != null)
    {
        productCount = (int)ViewData["ProductCount"];
    }

    int pageSize = (int)ViewData["PageSize"];

    if (ViewData["SelectedCategory"] == null)
    {
        ViewData["Title"] = "Store";
    } else
    {
        TextInfo info = new CultureInfo("en-US", false).TextInfo;
        ViewData["Title"] = info.ToTitleCase(ViewData["SelectedCategory"].ToString());
    }
}

<section id="store" class="container-fix">
    <div class="container-fluid">
        <div class="d-flex flex-column flex-lg-row">
            <div id="store-sidebar" class="col-12 col-lg-3 order-1 order-lg-0 mt-5 mt-lg-0">
                <form method="get" asp-action="Store" id="queryForm">
                    <div class="d-flex">
                        <input type="text" name="query" value="@ViewData["CurrentQuery"]" placeholder="Search products.."/>
                        <button class="ms-2">
                            <i class="bi bi-chevron-right text-white"></i>
                        </button>
                    </div>
                </form>

                <form method="get" asp-action="Store" id="filterForm" class="mt-5">
                    <label class="fs-4">Filter by Price</label>
                    @if (ViewData["CurrentQuery"] != null)
                    {
                        <input type="hidden" name="query" value="@ViewData["CurrentQuery"]" />
                    }

                    @if (ViewData["SelectedCategory"] != null)
                    {
                        <input type="hidden" name="category" value="@ViewData["SelectedCategory"]" />
                    }

                    <div class="dual-range-slider--wrapper mt-2">
                        <div class="slider-track"></div>
                        @if (Model.Products.Any())
                        {
                            <input type="range"
                                   min="@ViewData["SliderMin"]"
                                   max="@ViewData["SliderMax"]"
                                   name="SliderMinVal"
                                   value="@(ViewData["SliderMinVal"] != null ? ViewData["SliderMinVal"] : @ViewData["SliderMin"])"
                                   id="slider-1" oninput="slideOne()">
                            <input type="range"
                                   min="@ViewData["SliderMin"]"
                                   max="@ViewData["SliderMax"]"
                                   name="SliderMaxVal"
                                   value="@(ViewData["SliderMaxVal"] != null ? ViewData["SliderMaxVal"] : @ViewData["SliderMax"])"
                            id="slider-2" oninput="slideTwo()">
                        } else
                        {
                            <input type="range" min="0" max="1" value="0" id="slider-1" />
                            <input type="range" min="0" max="1" value="1" id="slider-2" />
                        }

                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-2">
                        <button type="submit">FILTER</button>
                        <div class="min-max">
                            <span>Price: </span>
                            <span id="sliderMin" class="fw-600"></span>
                            <span id="sliderMax" class="fw-600"></span>
                        </div>
                    </div>
                </form>

                <div class="mt-5">
                    <span class="fs-4">Categories</span>
                    <div class="categories--wrapper mt-3">
                        @{int catIndex = 0;}
                        @foreach (StoreCategoryVM item in Model.Categories)
                        {
                            <div class="d-flex justify-content-between w-100 @(catIndex > 0 ? "mt-2" : "")">
                                <a asp-action="Store" asp-route-category="@item.Name.ToLower()" class="text-decoration-none text-dark">@item.Name</a>
                                <span>(@item.ProductCount)</span>
                            </div>
                            catIndex++;
                        }
                    </div>
                </div>

                <div class="mt-5">
                    <span class="fs-4">
                        Our Best Sellers
                    </span>
                    <ul class="best-selling-products list-unstyled mt-2 mb-0">
                        @foreach (ProductCardListItemVM item in Model.BestSelling)
                        {
                            @Html.Partial("_ProductCardListItem", item)
                        }
                    </ul>
                </div>

            </div>
            <div id="product-listing" class="col-12 col-lg-9">
                <div class="products-wrapper bg-white">
                    <div id="store-breadcrumbs">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-action="Index" class="text-muted">Home</a></li>

                                @if (currentPage < 2)
                                {
                                    if (ViewData["CurrentQuery"] != null || ViewData["SelectedCategory"] != null)
                                    {
                                        <li class="breadcrumb-item"><a asp-action="Store" class="text-muted">Store</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            @if (ViewData["CurrentQuery"] != null)
                                            {
                                                <span>Search results for "@ViewData["CurrentQuery"]"</span>
                                            }
                                            @if (ViewData["SelectedCategory"] != null)
                                            {
                                                <span class="text-capitalize">@ViewData["SelectedCategory"]</span>
                                            }
                                        </li>
                                    } else
                                    {
                                        <li class="breadcrumb-item text-muted" aria-current="page">Store</li>
                                    }              
                                } else 
                                {
                                    <li class="breadcrumb-item"><a asp-action="Store" class="text-muted">Store</a></li>
                                    if (ViewData["CurrentQuery"] != null || ViewData["SelectedCategory"] != null)
                                    {
                                        <li class="breadcrumb-item active text-capitalize" aria-current="page">
                                            @if (ViewData["CurrentQuery"] != null)
                                            {
                                                <a asp-action="Store" asp-route-query="@ViewData["CurrentQuery"]" class="text-muted">Search results for “@ViewData["CurrentQuery"]”</a>
                                            }

                                            @if (ViewData["SelectedCategory"] != null)
                                            {
                                                <a asp-action="Store" asp-route-category="@ViewData["SelectedCategory"]" class="text-muted">@ViewData["SelectedCategory"]</a>
                                            }
                                        </li>
                                    }
                                }

                                @if (currentPage > 1)
                                {
                                    <li class="breadcrumb-item active text-capitalize" aria-current="page">Page @currentPage</li>
                                }
                            </ol>
                        </nav>
                    </div>
                    <div class="product-count-and-filter mt-4 mb-5 d-flex justify-content-between align-items-center">
                        <div class="product-count">
                            @if (productCount <= pageSize)
                            {
                                <span>Showing all @productCount results</span>
                            }
                            else
                            {
                                int min = (pageSize * currentPage) - (pageSize - 1);
                                int max = pageSize * currentPage;
                                if (max > productCount)
                                {
                                    max = productCount;
                                }
                                <span>Showing @min–@max of @productCount</span>
                            }
                        </div>
                        <div class="dropdown">
                            <select class="form-select text-muted" aria-label="Dropdown filter products" id="filterSelect">
                                <option value="default" selected>Default sorting</option>
                                <option value="rating">Sort by average rating</option>
                                <option value="date">Sort by latest</option>
                                <option value="price">Sort by price: low to high</option>
                                <option value="price-desc">Sort by price: high to low</option>
                            </select>
                            <a hidden id="selectAction" 
                                asp-action="Store"
                                asp-route-category="@ViewData["SelectedCategory"]" 
                                asp-route-query="@ViewData["CurrentQuery"]"
                                asp-route-sliderMinVal="@ViewData["SliderMinVal"]"
                                asp-route-sliderMaxVal="@ViewData["SliderMaxVal"]"
                                asp-route-orderBy="@ViewData["OrderBy"]"
                                asp-route-pageNumber="@(currentPage > 1 ? currentPage : null)"></a>
                        </div>
                    </div>
                    

                    @if (Model.ProductPageCount > 0)
                    {
                        <div class="row row-cols-2 row-cols-sm-3 gy-3 gy-md-5">
                            @for (int i = 0; i < Model.Products.Count; i++)
                            {
                                var Product = Model.Products[i];
                                <div class="col">
                                    @Html.Partial("_ProductCard", Product)
                                </div>
                            }
                        </div>
                        <nav aria-label="..." class="mt-5">
                            <ul class="pagination">
                                @if (ViewData["CurrentPage"] != null)
                                {
                                    @if (currentPage != 1)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" asp-action="Store"
                                               asp-route-query="@ViewData["CurrentQuery"]"
                                               asp-route-category="@ViewData["SelectedCategory"]"
                                               asp-route-sliderMinVal="@ViewData["SliderMinVal"]"
                                               asp-route-sliderMaxVal="@ViewData["SliderMaxVal"]"
                                               asp-route-orderBy="@ViewData["OrderBy"]"
                                               asp-route-pageNumber="@(currentPage - 1)">
                                                <i class="bi bi-arrow-left"></i>
                                            </a>
                                        </li>
                                    }
                                    @for (int i = 1; i <= Model.ProductPageCount; i++)
                                    {
                                        @if (currentPage == i)
                                        {
                                            <li class="page-item active" aria-current="page">
                                                <span class="page-link">@i</span>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="page-item">
                                                <a class="page-link" asp-route-query="@ViewData["CurrentQuery"]"
                                                   asp-route-category="@ViewData["SelectedCategory"]"
                                                   asp-route-sliderMinVal="@ViewData["SliderMinVal"]"
                                                   asp-route-sliderMaxVal="@ViewData["SliderMaxVal"]"
                                                   asp-route-orderBy="@ViewData["OrderBy"]"
                                                   asp-route-pageNumber="@i">@i</a>
                                            </li>
                                        }
                                    }
                                    @if (currentPage != Model.ProductPageCount)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" asp-action="Store"
                                               asp-route-query="@ViewData["CurrentQuery"]"
                                               asp-route-category="@ViewData["SelectedCategory"]"
                                               asp-route-sliderMinVal="@ViewData["SliderMinVal"]"
                                               asp-route-sliderMaxVal="@ViewData["SliderMaxVal"]"
                                               asp-route-orderBy="@ViewData["OrderBy"]"
                                               asp-route-pageNumber="@(currentPage + 1)">
                                                <i class="bi bi-arrow-right"></i>
                                            </a>
                                        </li>
                                    }
                                }

                            </ul>
                        </nav>
                    } else
                    {
                        <div class="no-products">
                            <div class="p-4 w-100">
                                <div class="d-inline-block">
                                    <i class="bi bi-file-x"></i>
                                </div>
                                <div class="ms-2 d-inline-block">
                                    No products were found matching your selection.
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>

</section>

